@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');



*{
    box-sizing: border-box;
}

.navigation
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 400;
    text-decoration: none;
}
.container-ul
{
    margin: 0;
    padding: 8;
    background:linear-gradient(to right, rgb(0, 0, 0),rgb(17, 200, 233));
    list-style: none;
    text-decoration: none;
    height: 67px;
    position: fixed;
    z-index: 1;
    width: 100%;
}
.container-li
{
    display: inline;
    padding: 10;
    float: right;
}
.container-li:hover{
    background-color: #082927;
    border: 2px solid white;
    border-radius: 5px;
}
.container-li-1
{
    margin: 0;
    padding: 5px;
    text-decoration: none;
    position: fixed;
    z-index: 10;
    position: absolute;
    border-radius: 30px;
}
.container-li-1:hover{
background-color: transparent;
}
.venkat-logo
{
    margin: 0;
    padding: 0;
    height: 50;
    width: 300;
}
#Home{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 750;
    background-color: rgb(255, 255, 255);
}
.heading-1{
    color: black;
    font-family: 'Russo One', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    padding-top: 250px;
    text-align: center;
    display:none;
}
#Gallery{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: honeydew;
}
#Contact{
    margin: 0;
    padding: 0;
    width: 100%;
    background:linear-gradient(to right, black,rgb(20, 235, 188));
    height: auto;
    display: flex;
    justify-content: space-around;
}
#Services{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#f5f6fa;
    opacity: .8;
    height: auto;
}
#About{
    margin: 0;
    padding: 0;
    height: 30%;
    width: 100%;
    background:linear-gradient(to left,#212121, black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
}
.footer
{
    margin: 0;
    padding:0;
}
/*.Banner1{

    width: 100%;
    height: 700;
    position: absolute;
    background: linear-gradient(to right, black,rgb(17, 200, 233));
    opacity: .1;
}*/
.profile-image{
    height: 500;
    width: 500;
    border-radius: 20px;
}
.profile-image-cont{
    height: 500;
    width: 500;
    background-color: blueviolet;
}
.contact-head{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color: white;
    padding-top: 50px;
    padding-left: 50px;

}
.contact-info{
    margin: 0;
    padding-left: 35px;
    width: 50%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    color: white;
    padding-top: 100px;
}
.para-class{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 200;
}
.pro-para{
    margin: 0;
    padding-top: 25px;
    padding-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: 500;
    color: blueviolet;
}
.friend-para
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: rgb(10, 35, 180);
}
.form-div
{
    padding-top: 100px;
    padding-right: 100px;
}
.form-boost{
    float: right;
    width: 400;
    height: 500;
    padding: 45px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid white;
}

.a-link{
    color: white;
    font-family: 'Hind-Madurai', sans-serif;
    font-size: medium;
    text-decoration: none;
    padding: 15px;
    
}
.a-link:hover{
    text-decoration: none;
    color: white;
}
.center
{
    font-family: ;
    text-align: center;
    padding: 30;
}
.services-box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.html-box
{
    margin: 0;
    padding: 25px;
    height: 180;
    width: 200;
    background-color: white;
}
.layer-box
{

    height: 310;
    width: 200;
    background-color: white;
    display: flexbox;
    flex-wrap: wrap;
    justify-content: center;
}
.image-class
{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.gallery-div
{
    display: flex;
   justify-content: space-around;
}
.Profile-area
{
    height: 500;
    width: 60%;
    background-color: honeydew;
    border-radius: 20px;
    display: none;
}
.card-style
{
    padding: 20px;
}
.About-flexbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    color: #B0B0B0;
    padding-top: 100;

}
.social-media-follow{
    width: 200;
    display: flex;
    justify-content: space-around;
    color: #B0B0B0;
}
.social-media-follow-black
{
    width: 200;
    display: flex;
    justify-content: space-around;
    color: black; 
}
.copy-right{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-style: oblique;
    font-weight: 400;
    padding: 0;
}
.copy-right
{
    align-items: center;
    padding: 5px;
}
.button-1{
    padding-top: 20%;
}
.mydiv{
    height: 100;
    width: 100;
    background-color: blanchedalmond;
    display: none;
}



/* CSS Responsive*/
@media only screen and (max-width:350px){

    #about{
        margin: 0;
        height: 500px;
        width: 350px;
    }
    .About-flexbox{
        display: block;
        flex-direction: row-reverse;
        justify-content: center;
        color: #B0B0B0;
        align-items: center;
        padding-left: 20;
    
    }
    .copy-right
    {
        font-size: 16px;
    }
    .venkat-logo
    {
    margin: 0;
    padding: 0;
    height: 40;
    width: 200;
    }
    .follow-us
    {
        align-items: center;
        font-size: 18px;
    }


    #Services
    {
        margin: 0;
    }
    #Contact{
        margin: 0;
        padding: 0;
        width: auto;
        background:linear-gradient(to right, black,rgb(20, 235, 188));
        height: auto;
        display: block;
    }
    .form-div
    {
        padding-top: 50px;
        padding-right: 50px;
    }
    .form-boost{
        width: 200;
        height: 380;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        border: 2px solid white;
    }
    .contact-info{
        margin: 0;
        padding: 0;
        width: 100%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        font-weight: 300;
        color: white;
        padding-top: 50px;
    }

    .gallery-div
    {
        display: block;
    }
    .Profile-area
    {
        height: auto;
        width: 100%;
        background-color: honeydew;
        border-radius: 5px;
    }
    .profile-image{
        height:200;
        width: 200;
    }
    .profile-image-cont{
        height: 200;
        width: 200;
        background-color: blueviolet;
    }
}



@media only screen and (max-width:750px){

    .navigation
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    text-decoration: none;
}
.container-ul
{
    margin: 0;
    padding: 8;
    background:linear-gradient(to right, rgb(0, 0, 0),rgb(17, 200, 233));
    list-style: none;
    text-decoration: none;
    height: 250px;
    position: absolute;
    align-items: center;
    z-index: 1;
    width: 50%;
}
.container-li
{
    padding-top: 80;
    padding: 50;
    display: block;
    padding: 10;
    align-items: center;
}
.a-link{
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 15px;
    
}

    #about{
        margin: 0;
        height: auto;
    }
    .About-flexbox{
        display: block;
        flex-direction: row-reverse;
        justify-content: center;
        color: #B0B0B0;
        align-items: center;
    
    }
    .copy-right
    {
        font-size: 20px;
        text-align: center;
    }
    .venkat-logo
    {
    margin: 0;
    padding: 0;
    height: 50;
    width: 250;
    }
    .follow-us
    {
        align-items: center;
        font-size: 25px;
        text-align: center;
    }
    .social-media-follow
    {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #Services
    {
        margin: 0;
    }
    #Contact{
        margin: 0;
        display: block;
        height: 1000px;
    }
    .contact-info{
        margin: 0;
        padding: 0;
        width: 100%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: medium;
        font-weight: 300;
        color: white;
        padding-top: 50px;
    }
    .gallery-div
    {
        display: block;
    }
    .Profile-area
    {
        height: auto;
        width: 100%;
        background-color: honeydew;
        border-radius: 5px;
    }
    .profile-image{
        align-items: center;
        height: 350;
        width: 350;
    }
    .profile-image-cont{
        align-items: center;
        height: 350;
        width: 350;
        background-color: blueviolet;
    }
    .form-div
    {
        padding-top: 50px;
        padding-right: 100px;
    }
    .form-boost{
        width: 200;
        height: 380;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        border: 2px solid white;
    }
    .a-link{
        color: white;
        font-style: italic;
        text-decoration: none;
        padding-top: 200;
        padding: 15px;
        
    }
}